## NPM ##
node_modules/

## Compiled files ##
public/transpiled
public/app.js
ZagatData60.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
