## NPM ##
node_modules/

## JEST ##
coverage/

## Compiled files ##
public/transpiled
public/app.js
db/data/fakerData.json
db/data/descriptions.csv
db/data/reviews.csv
newrelic_agent.log
dump.rdb

# New Relic #
newrelic.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
