## NPM ##
node_modules/

## JEST ##
coverage/

## Compiled files ##
public/transpiled
public/app.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
