@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Serif:400,400i,700,700i');

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0px;
  color: #101820;
  background-color: #F1F1F2;
  letter-spacing: .015em;
}


.reviews-container {
  max-width: 65em;
  display: flex;
  flex-direction: column;
  margin-left: 10em;
  margin-right: 10em;
  background-color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reviews-modal-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 10em;
  background-color: #FFFFFF;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem;
  padding: 2rem;
}

.reviews-modal {
  display: flex;
  flex-direction: column;
  letter-spacing: .086em;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem
}

.reviews-title {
  display: flex;
  flex-direction: row;
  letter-spacing: .086em;
  padding: 2rem;
  font-size: 14px;
}

.reviews-title-stars, .reviews-title-google  {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 14px;
  font-weight: 400;

}

.review-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  border-top: 1px #d0d2d3 solid;
}

.review-container-footer {
  display: flex;
  flex-direction: row;
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 1px #d0d2d3 solid;
  text-align: center;
}

.reviews-modal-footer{
  text-align: center;
}

.reviews-footer-btn {
  font-size: 13px !important;
  margin:auto !important;
  display:block !important;
  border: 2px solid #b70038 !important;
  color: #b70038 !important;
  text-transform: uppercase;
  text-shadow: none !important;
  height:40px !important;
  width: 192px !important;
  box-shadow: none !important;
  background-color: white !important;
}

.reviews-footer-btn:hover {
  background-color: #b70038 !important;
  color: white !important;
}


.review-profile-pic {
  display: flex;
  flex-direction: row;
  max-width: 25%;
  max-height: 100%;
}

.review-column {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  color: #101820;
  max-width: 75%;
}

.review-column-name {
  padding-bottom: 1rem;
  font-size: 13px;

}
.review-column-date {
  padding-bottom: 1rem;
  font-weight: 300;
  font-size: 13px;

}

.review-column-text {
  padding-bottom: 1rem;
  font-size: 13px;
  line-height: 1.6;
}


.reviews-container {
  margin-left: 5em;
}
